<div style="margin: 5px 20px 5px 20px;">
    {{#with tweet}}
    <h3>Tweet de {{user}}</h3><br />

    <p><b>Titre :</b> {{title}}</p>
    <p><b>Contenu :</b> {{content}}</p>

    <a href="/tweets" class="card-link">Retour</a>
    {{/with}}

    {{#if users}}
    <p><b>Les utilisateurs suivant ont aimé ce tweet :</b></p>
    {{#each users}}
    <p>{{politness}} {{firstName}} {{lastName}} - {{email}}</p>
    {{/each}}
    {{else}}
    <p><b>Personne n'a aimé ce tweet :-(</b></p>
    {{/if}}
</div>